<a href="https://colab.research.google.com/github/MarcNazareneCastillo/PLNG211-QC/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
if 5 > 2:
  print("Five is greater than Two!")

Five is greater than Two!

Python Variable

In [24]:
x = 1
a, b = 0, -1
a, b, c = 0, -1, "Sally"
a = 9
print(a)
c = "Danny"
print(c)

9
Danny

In [23]:
print(c)

Maria

Casting

In [19]:
d = int(4)
print(d)
e = float(4)
print(e)

4
4.0

Type () function

In [20]:
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>

Single Quote or Double Quote

In [26]:
f = "Maria"
print(f)
g = 'Ana'
print(g)

Maria
Ana

Multiple Variables

In [29]:
x,y,z = 4, 5, 6
print(x)
print(y)
print([z])

4
5
[6]

One to Multiple Variables

In [32]:
x = y = z="Lilo"
print(x)
print(y)
print(z)

Lilo
Lilo
Lilo

Output Variable using and +

In [39]:
s = "Python is"
t = "enjoying"
print("Python is"+" "+t)
print(s+" " +t)

Python is enjoying
Python is enjoying

Arithmetic

In [45]:
x = 1
y = 2
sum = x + y
x
y
sum
print(x)

#modulo
l = 4%2
print("4%2=", l)

#floor division
k= 4//2
print("4//2=", k)

1
4%2= 0
4//2= 2